<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloworld</title>
</head>
<body>
<a href = "{{ url_for('blueIndex.index') }}">index</a>
<a href = "{{ url_for('blueOneStepService.index') }}">OneStepService</a>
<a href = "{{ url_for('blueOneStepTrade.index') }}">OneStepTrade</a>
<a href = "{{ url_for('blueRESource.index') }}">RESource</a>
<a href = "{{ url_for('blueOurTeam.index') }}">OurTeam</a>
<a href = "{{ url_for('blueContactUs.index') }}">ContactUs</a>


</body>
</html>