{% extends "bootstrap/base.html" %}
{#设置title#}
{% block title %}
{% if title %}
    {{ title }} | Home Capital Inc
{% else %}
    Home Capital Inc
{% endif %}
{% endblock %}

{#css#}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="/static/css/footer.css">
{% endblock %}

{#导航栏#}
{% block navbar %}
    {% include 'commons/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="jumbotron">
            {% if title == '主页' %}
                <h1>Home Capital inc</h1>
                <p>Home Capital INC是美国房地产投资股份有限公司 多年致力于北美房地产投资 投资内容包括开发 翻新 租赁 私人贷款等。向客户提供非中介的折扣型投资房源。为客户带来稳定回报率的同时，也辅助客户进行合理的资产配置。 线上线下同时展示北美房产投资咨询。一站式购房及管理服务</p>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}

            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            {% if title == '主页' %}
                <h1>这是一个滚动图 宽度占满整个屏幕</h1>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}

            <p>常见问题 省略版</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            {% if title == '主页' %}
                <h1>这是一个滚动图 宽度不占满屏幕</h1>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}

            <p>2.房源滚动 面积（sqft） 地址， 详情，价格</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            {% if title == '主页' %}
                <h1>这是一个流程图 </h1>
            {% else %}
                <h1>{{ title }}</h1>
            {% endif %}

            <p>流程图</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
{# Side Bar: 常见问题#}
        <div class="sidebar" style="height: 300px; width: 200px; position: fixed; top: 40%; right: 100px; border: 1px dashed red;">
    <h4>(侧边栏)</h4>
            <div>
                <ul>
                    <li>咨询（只要图标）</li>
                    <li>联系我们（只要图标）</li>
                    <li>投资计算器（只要图标）</li>
                    <li>美房优选交流群（只要图标）</li>
                </ul>
            </div>
    </div>





    {% block app_content %}
    {% endblock %}

    {% block footer_content %}
    {% include "commons/footer.html" %}
    {% endblock %}


{% endblock %}



